<div class="home-screen">
    <h1>Welcome to Mellowes Floor 3 & 4</h1>

    <p>Who still calls this place Regents?</p>

    <p>Anyway here we can share the greatness of <span class="nice-shine">303</span> and show some other rooms as well. Enjoy some pictures and cool details of the floor. Currently the page is static so you cannot add or send anything here while its running YET. There is always more to come so tune in every so often and make sure to judge everything here</p>

    <p></p>
    <p></p>
    <p></p>

    <p>This Website is owned and managed by <span class="nice-shine">303</span> so there is no bias here in the slightest</p>

    <p>Any issues or requests to add something can be sent to the <span class="nice-shine">303</span> admins</p>

    <p>You can get your voice on the website just please make a working html and css documents then send to the admins and <span class="nice-shine">303</span> will add it. Even if 305 sent it (Maybe... if we feel like it)</p>

    <p>If you dont know how to code <span class="nice-shine">303</span> can accept text and pictures too and add it</p>
</div>