<div class="room303">
    <div class="ascii-303">
    <pre class="ascii-letter">
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>
<span class="nice-shine">303</span>              <span class="nice-shine">303</span>
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>   <span class="nice-shine">303</span>
          <span class="nice-shine">303</span>    <span class="nice-shine">303</span>
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
<span class="nice-shine">303</span>              <span class="nice-shine">303</span>
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
           <span class="nice-shine">303</span>   <span class="nice-shine">303</span>
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
<span class="nice-shine">303</span>              <span class="nice-shine">303</span>
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>
    </pre>

    <pre class="ascii-letter">
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
<span class="nice-shine">303</span>             <span class="nice-shine">303</span>
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>
    </pre>

    <pre class="ascii-letter">
   <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>
<span class="nice-shine">303</span>               <span class="nice-shine">303</span>
    <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
            <span class="nice-shine">303</span>   <span class="nice-shine">303</span>
    <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
<span class="nice-shine">303</span>               <span class="nice-shine">303</span>
    <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
            <span class="nice-shine">303</span>   <span class="nice-shine">303</span>
    <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>    <span class="nice-shine">303</span>
<span class="nice-shine">303</span>               <span class="nice-shine">303</span>
    <span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span>
    </pre>
    </div>

    <p>Wellllcome to <span class="nice-shine">303</span> or the best place around. Its the greatest room of all the rooms and beats all others with its sparkling beauty, joy, and gracefulness. Its the place to go to have a good time and the one and only place to relax. <span class="nice-shine">303</span> has its ups and down and <span class="nice-shine">303</span> is not obnoxious in the teams chat but expressing their amazing and diverse wisdom in a very abstract way. Nothing can beat the decor of <span class="nice-shine">303</span> and <span class="nice-shine">303</span> doesnt claim any responsibility for anything left on any door or whiteboard. If you are somehow still here <span class="nice-shine">303</span> has the most exciting content that needs to be seen and you should read every single letter as it is an obligation. Be sure to observe every picture with a keen eye as there will be many marvelous sights to see.</p>

    <p>Our couch along with some lab work being done. Its so clean isnt it (good job <span class="nice-shine">303</span>).</p>
    <img class="image" src="couch-wide.png" alt="couch-wide">

    <p>Wow such a good use of space. Such good interior designers <span class="nice-shine">303</span>. The flag in front of the door is very pratical and necessary (Adrian)</p>
    <img class="image" src="bathroom-wide.png" alt="bathroom-wide">

    <p>Such a good poster <span class="nice-shine">303</span>. Its such a good motivator and keeps the room in check right when you walk in!.</p>
    <img class="image" src="jesus-wide.png" alt="jesus-wide">

    <p>The Bathroom (is this legal?). Horror movies could be made here.</p>
    <img class="image" src="bathroom.png" alt="bathroom">

    <p>304 is the best and 305 owes $.45 (unpaid delivery fee). These coins are ours and forever in <span class="nice-shine">303</span>. They are sacred to us.</p>
    <img class="image" src="coins.png" alt="coins">

    <p>Idea Wall for <span class="nice-shine">303</span> things. What a good idea <span class="nice-shine">303</span> to set goals for the future.</p>
    <img class="image" src="idea-wall.png" alt="idea-wall">

    <p>Real tv. A very effective price saving option for <span class="nice-shine">303</span>!</p>
    <img class="image" src="real-tv.png" alt="real-tv">

    <p>Fake tv. Its useless. When is the battle royal happening? Mario Cart when? SMASH when?</p>
    <img class="image" src="tv-wide.png" alt="tv-wide">

    <p>Gobble Gobble. What a cute mascot <span class="nice-shine">303</span>! Make sure to throw him at everyone you see while saying "gobble gobble"</p>
    <img class="image" src="gobble-gobble.png" alt="gobble-gobble">

    <p>Adrian's room (best one honsetly). A prime example of class and pristene in the already so beautiful <span class="nice-shine">303</span>.</p>
    <img class="image" src="adrian-room.png" alt="adrian-room">

    <p>Kaz's and Andrew's room (a hinderence of <span class="nice-shine">303</span>).</p>
    <img class="image" src="double1.png" alt="double1">

    <p>Kaz's and Andrew's room again (why is it so dirty).</p>
    <img class="image" src="double2.png" alt="double2">

    <p>Kaz's and Andrew's room again again (you can look away now).</p>
    <img class="image" src="double3.png" alt="double3">

    <p>Chase's room (should be an MLH room). When is <span class="nice-shine">303</span> open in MLH?</p>
    <img class="image" src="chase-room.png" alt="chase-room">

    <p>Kevin's room (in progress dont look in there).</p>
    <img class="image" src="kevin-room.png" alt="kevin-room">

    <p>305 prank (we gottem good).</p>
    <img class="image" src="prank-305.png" alt="prank-305">

    <p>Bow down to the Jungle Beast!</p>
    <img class="image" src="jungle-beast.png" alt="jungle-beast">

    <p>More to come!!<span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><span class="nice-shine">303</span><p>
</div>
