<!-- <button mat-button [matMenuTriggerFor]="menu"><img src="menu.png" class="menu-image"></button>

<mat-menu class="menu" #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
  <button mat-menu-item>Item 3</button>
</mat-menu> -->

<button (click)="toggleMenu()" class="menu-button"><img src="menu.png" class="menu-image"></button>

<div class="menu" id="main-menu" *ngIf="true">
  <button class="menu-content" (click)="routeTo303()"><span class="nice-shine"><span [ngClass]="{'is-current-link': is303Link, '':!is303Link}">303</span></span></button>
  <button class="menu-content" (click)="routeToHome()"><span [ngClass]="{'is-current-link': isHomeLink, '':!isHomeLink}">Home</span></button>
  <button class="menu-content" (click)="routeToClickGame()"><span [ngClass]="{'is-current-link': isClickGameLink, '':!isClickGameLink}">Click Game</span></button>
  <button class="menu-content">More links to come</button>
</div>